<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 col-md-5 intro">
        <div class="top js-reveal">
          <img src="{{ site.avatar_url }}" alt="SPOJ Avatar">
          <h1>FITHOU Notes</h1>
        </div>
        <div class="down text-justify js-reveal">
          Chia sẻ kinh nghiệm lập trình, học tập tại khoa công nghệ thông tin đại học Mở Hà Nội. 
        </div>
        <div class="down text-justify js-reveal">
          Bạn có thể đóng góp bài viết, code, ... bằng cách liên hệ: <a href="mailto:ngocdanh.fithou@gmail.com" target="_blank">ngocdanh.fithou@gmail.com</a>
        </div>
      </div>
      <div class="col-12 col-lg-3 col-md-3">
        <h3 class="js-reveal">Danh mục</h3>
        <div class="navigation">
          <div class="link js-reveal">
            <a href="{{ site.baseurl }}/">Home</a>
          </div>
          {% for i in site.urls %}
            <div class="link js-reveal">
              <a href="{{ site.baseurl }}{{ i.url }}">{{ i.text }}</a>
            </div>
          {% endfor %}
        </div>
        <!-- <h3 style="margin: 25px 0px 20px" class="js-reveal">Community</h3> -->
        <!-- <div class="btn-github js-reveal">
          <iframe src="//ghbtns.com/github-btn.html?user={{ site.username }}&repo={{ site.repo }}&type=star&count=true" frameborder="0" scrolling="0" width="85" height="20px"></iframe>
          <iframe src="//ghbtns.com/github-btn.html?user={{ site.username }}&repo={{ site.repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="85" height="20px"></iframe>
        </div> -->
      </div>
      <div class="col-12 col-lg-4 col-md-4">
        <h3 class="js-reveal">Liên hệ</h3>
        <div class="down text-justify js-reveal">
          Góp ý, thắc mắc xin gửi cho tôi. 
        </div>
        <div class="external-links js-reveal">
          <span><i class="far fa-envelope"></i></span> &ThickSpace;
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
        <div class="external-links js-reveal">
          <span><i class="fab fa-facebook-square"></i> &ThickSpace;
          <a href="//facebook.com/ngocdanh0508" target="_blank">facebook.com/ngocdanh0508</a>
        </div>
        <div class="external-links js-reveal">
          <span><i class="fab fa-telegram"></i> &ThickSpace;
          <a href="//t.me/ngocdanh0508">telegram.com/ngocdanh0508</a>
        </div>
       
        <!-- <h3 class="js-reveal">Follow Us</h3> -->
        <!-- <div class="social-links">
          {% for link in site.social %}
            <a href="{{ link.link }}" target="_blank" class="js-reveal">
              <span><i class="fa {{ link.icon }}"></i></span>
            </a>
          {% endfor %}
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="end text-center">
    <span class="js-reveal">
      Made with <i class="fa fa-heart" style="color: #eb0025"></i> by
      <a href="{{ site.github }}">{{ site.author }}</a>.
    </span>
    <span class="js-reveal">All rights reserved.</span>
  </div>
</footer>
