// Template Colors
$color-primary: #428bca;
$color-bg-code: #222;
$color-hr: #f7f1f1;
$color-footer-white: #ebebeb;

// Google Fonts
$font-muli: -apple-system,BlinkMacSystemFont,Helvetica Neue,Roboto,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
$font-raleway: 'Raleway', sans-serif;

// Template Fonts
$font-primary: $font-muli;
$font-secondary: $font-raleway;
