.number {
  align-items: unset !important ;
  background-color: unset !important;
  border-radius: unset !important;
  display: unset !important;
  font-size: unset !important;
  height: unset !important;
  justify-content: unset !important;
  margin-right: unset !important;
  min-width: unset !important;
  padding: unset !important;
  text-align: unset !important;
  vertical-align: unset !important;
}
.subscribe-form-wrapper {
  display: none;
}
.tile.box {
  margin-bottom: 20px !important;
}
.manager-box h1.title-box {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}
.intro-box {
  margin-bottom: 15px;
}
.hero span.author-wrapper {
  font-weight: bold;
  color: #abf6ff;
  padding-right: 10px;
}
.post-wrapper blockquote {
  margin: 7px !important;
  background: #c5fbf3;
  border-left: 5px solid #81f3e2 !important;
}
.author-active h2 {
  font-size: 1.25em;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 5px 0;
}
.author-active {
  padding: 10px;
  background: #f2fafb;
  margin: 15px 0;
}
a {
  color: #ff8940;
  transition: all 0.3s ease;
  &:hover {
    color: #ff6100;
  }
}
a code {
  display: table;
  text-align: center;
  background: linear-gradient(90deg, #0d8674, #01c5a8);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #0ea992;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 3px 6px rgba(84, 94, 111, 0.2);
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
  .card-content {
    h3.title.is-5 {
      font-weight: bold !important;
    }
  }
}
.card:hover {
  transform: translate(0, -3px);
}
.card img:hover {
  transform: unset !important;
}
.navbar-menu a {
  color: #fff;
  background: #148c7a;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.navbar-menu a:hover {
  transform: translate(0px, -2px);
}

.search-wrapper.inactive .search-icon {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: unset !important;
  }
}
.has-text-weight-light {
  font-size: 17px !important;
  font-weight: 500 !important;
}
